{% extends 'base.html' %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
<h2>Contact Us</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Submit</button>
</form>
<script>
    let a=document.getElementById('contactForm')
    a.addEventListener('submit',function(event){
    let name=document.getElementById('name').value.trim();
    let email=document.getElementById('email').value.trim();
    if (name===""|| email===""){
    alert('please fill both the fields');
    event.preventDefault();
    }
    })
</script>
{% endblock %}