{% extends 'base.html' %}
{% block title %}Home - Restaurant Management {% endblock %}
{% block content %}
<h2> Menu</h2>
{% if menu_items %}
<ul>
    {% for item in menu %}
    <li>{{ item.name }}{{ items.price }}</li>
    {% endfor %}
    <ul>
        {% else %}
        <p> No menu items availale</p>
    {% endif %}
    </ul>
</ul>
<h2>Visit US</h2>
{% if address %}
<p>{{ address.street }},{{ address.city }},{{ address.state }},{{ address.zipcode }}</p>
{% else %}
<p> Address not available</p>
{% endif %}
{% if address.opening_hours %}
<h2>opening_hours</h2>
<ul>
    {% for day,time in address.opening_hours.items %}
    <li>
        <span class="{% if day===now|date:'1' %}highlight{% endif %}">
            {{ day }}:{{ time }}
        </span>
    </li>
</ul>
{% endif %}

<section class="intro">
    <h1>Welcome to {{ restaurant_name }}</h1>
    <p>Call us  :{{ phone_number }}</P>
    <h2>Delicious Food, Crazy Ambience</h2>
    <p>Experience the best dining experience with us.</p>
    <p>we're glad to have you here. We are happy for Exploring our menu and enjoy your meal!</p>
</section>
{% endblock content %}