{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,intial-scale=1.0">
        <title>{% block title %} Restaurant Management {% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body style="font-family:Arial,sans-serif; background-color:#fafafa; margin:0;padding:0">
    <header>
        <h1>Restaurant Management</h1>
        <nav><a href="{% url 'home' %}">Home</a>
        <nav><a href="{% url 'about' %}">About</a>
        <a href="{% url 'home' %}">
        <img src="https://via.placeholder.com/200*80?text=Restaurant+logo" alt='my Restaurant Logo'>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer style='text-align:center;padding:10px;margin-top:20px;'>
        <p>&copy; {{ current_year }}2025 My Restaurant. All rights reserved</p>
        <p><strong>opening hours:</strong>Mon-Fri: 11am-9pm,Sat-Sun: 10am-10pm</p>
    </footer>
    </body>
</html>

