{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,intial-scale=1.0">
        <title>{% block title %} Restaurant Management {% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body style="font-family:Arial,sans-serif; background-color:#fafafa; margin:0;padding:0">
    <header>
        <h1>Restaurant Management</h1>
        <nav><a href="{% url 'home' %}">Home</a>
        <nav><a href="{% url 'about' %}">About</a>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    </body>
</html>

