{% extends 'base.html' %}
{% block content %}
<h1>Our Menu</h1>
<form method="get" action="">
    <input type='text' name="q" palceholder='search menu...' value="{{ query|default:' '}}">
    <button type="submit">search</button>
{% if menu_items %}
<ul>
    {% for item in menu_items %}
    <li>
        <h3>{{ item.name }}-{{ item.price }}</h3>
        <p>{{ item.description }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p> No items available rignt now</p>
{% endif %}
{% endblock content %}